@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(237, 237, 237);
}

input
 {
  border: 0;
  background: rgb(225, 252, 230);
  padding: 0;
  margin: 0;
  font-size: 1em;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.uneditable {
 background: rgb(186, 219, 193);
 outline: none;
 border: 0;
}

.editable {


}




#loading {
  justify-content: center;
}
#submit {
  max-height: initial;
 
}

#form {
  padding: 5px;
  margin-bottom: 20px;
  background: rgb(186, 219, 193);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 5px 0px grey;
}
#form label {
  margin: 0px 5px;
}
.page-header {
  display: flex;
  justify-content: center;
  background: rgb(80, 153, 95);
  padding: 10px 5px;
  width: 100%;
}

.trip-value-block {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.trips-container-individual {
  background: rgb(186, 219, 193);
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 3px 5px 0px grey;
}

.edit-item {
  display: flex;
  flex-direction: column;
}
.trash,
.edit {
  margin: 7px 7px;
}

.trash:hover,
.edit:hover {
  color: rgba(74, 74, 74);
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .trips-container-individual {
    text-align: center;
    display: block;
  }
  #form {
    flex-direction: column;
  }
  .form-container {
    display: flex;
    flex-direction: column;
  }
}
